.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    max-width: 500px;
    padding: 1em;
    margin: 2em 0;
    border: 2px solid var(--border-color);

    input {
        padding: 0.5rem;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 1rem;
        width: 100%;
    }
}

.form-user {
  max-width: 500px;
  border: 2px solid var(--border-color);
  padding: 1rem;
  margin: 1em;
}
