@use "@styles/variables" as *;

.wrapper-content {
  width: 100%;
  max-width: 1980px;
  margin-inline: auto;
}

.main-content {
  width: 100%;
  min-height: $main-height;
  padding: 10px;

  @include respond-to("desktop") {
    padding: 20px;
  }
}
